#header {
  grid-area: appbar;
  min-height: 80px;

  .app-bar {
    padding: 1rem 0;

    .back {
      flex: 0 0 auto;
      position: absolute;
      left: 0;
    }

    .app {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      .logo {
        max-width: 100px;
      }
    }

    .notifications {
      flex: 0 0 auto;
    }
  }
}