#header {
  grid-area: appbar;
  min-height: 80px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-text);

  .app-bar {
    padding: 1rem 0;

    hr {
      background-color: var(--color-background);
      margin-bottom: 0;
    }

    .app {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .user {
        flex-grow: 1;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;

        .user-img {
          max-width: 60px;
          max-height: 60px;
          border-radius: 8px;
          overflow: hidden;
          margin-right: 8px;
        }

        .user-info {
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: flex-start;
        }
      }

      .actionbar {
        flex: 0 0 auto;

        .btn-action {
          background: linear-gradient(var(--color-primary), var(--color-secondary));
          border-radius: 50px;
          font-size: 1rem;
          height: 36px;
          width: 36px;
          display: flex;
          justify-content: center;
          align-items: center;

          &:hover {
            opacity: 0.75;
          }
        }
      }
    }
  }
}