.base-button {
  font-weight: bold;
}

.btn-ghost {
  background-color: #ffffff!important;
  width: initial!important;
}

.btn-alt {
  background-color: #b7c1bc!important;

  &:hover {
    opacity: 0.65;
  }
}

.floating-btn {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-color: var(--color-primary-dark);
  border: none;
  outline: none;
  color: #ffffff;
  position: fixed;
  right: 1rem;
  bottom: 6.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  &:hover {
    background-color: #ffffff;
    color: var(--color-primary);
  }
}