.transposer {
	pre {
		.chord {
			color: var(--color-primary);
			font-weight: bold;
		}

		font-size: 1.15rem;
	}
}

.transposer2 {
  .horizontal-columns {
    column-count: auto;
    column-width: var(--column-width);
    column-fill: auto;
  }
  .horizontal-columns .column-span-all { column-span: all; }
  
  .single-column .row { flex-wrap: wrap; }
  
  .content-width {
    overflow: auto !important;
    max-width: max-content !important;
    min-width: max-content !important;
    width: max-content !important;
    display: inline-block !important;
    flex-wrap: nowrap !important;
  }
  
  .chord-sheet {
    counter-reset: verse;
  }
  
  .paragraph {
    break-inside: avoid;
  }
  
  .paragraph + .paragraph {
    margin-top: 1rem;
  }
  
  .row {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    break-inside: avoid;
  }
  
  .column {
    display: flex;
    flex-direction: column;
  }
  
  .comment, .chorus:before, .verse::before {
    font-weight: bold;
    font-style: italic;
    break-after: avoid;
  }
  
  .chord, .lyrics {
    white-space: pre;
  }
  
  .chord-sheet *:not(.tab) .chord {
    color: red;
  }
  
  .chorus {
    border-left: 4px solid #999;
    padding-left: 1em;
  }
  
  .chorus::before {
    content: "Chorus:";
  }
  
  .verse::before {
    counter-increment: verse;
    content: "Verse " counter(verse) ":";
  }
  
  .chord:after, .lyrics:after {
    content: '\200b';
  }
  
  .chord-diagram {
    width: 50px;
    height: 65px;
  }
}

.ProseMirror {
  box-sizing: border-box;
  background-color: #F2F3F7;
  border: 1px solid #F2F3F7;
  white-space: pre-wrap!important;
  outline: none;
  padding: 1rem;
  border-radius: 8px;

  /* Editor fix */
  font-family: Roboto;
  font-size: 0.875rem;
  line-height: 1rem;

  &:focus {
    border: 1px solid var(--color-primary-dark);
  }
}

.transposer {
  font-family: Roboto;
  font-size: 0.875rem;
  line-height: 1.35rem;
}

.chordsbook {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-y: auto;
  overflow-x: scroll;

  .chord {
    text-align: center;
  }
  svg {
  }
}

.chord-diagram {
  width: 50px;
  height: 65px;
}

