.transposer {
	pre {
		.chord {
			color: var(--color-primary);
			font-weight: bold;
		}

		font-size: 1.15rem;
	}
}

.ProseMirror {
  box-sizing: border-box;
  background-color: #F2F3F7;
  border: 1px solid #F2F3F7;
  white-space: pre-wrap!important;
  outline: none;
  padding: 1rem;
  border-radius: 8px;

  /* Editor fix */
  font-family: Roboto;
  font-size: 0.875rem;
  line-height: 1rem;

  &:focus {
    border: 1px solid var(--color-primary-dark);
  }
}

.transposer {
  font-family: Roboto;
  font-size: 0.875rem;
  line-height: 1.35rem;
}

.floating-chord {
  z-index: 10;
  background-color: #ffffff;

  p {
    font-weight: bold;
    color: var(--color-primary);
  }
}
