.base-input {
  margin-bottom: 1rem;

  &.no-margin {
    margin-bottom: 0;
  }

  .form-group {
    margin-bottom: 0;
  }

  .input-wrapper {
    border-radius: 0.25rem;
    max-height: 36px;
    overflow: hidden;
    border: 1px solid var(--color-input-bg);

    &.light-bg {
      border: 1px solid var(--color-input-bg-light);

      input {
        background-color: var(--color-input-bg-light);
        color: var(--color-input-text-light);

        &:focus {
          background-color: var(--color-input-bg-light);
        }
      }

      .input-group-prepend, .input-group-append {
        .input-group-text {
          background-color: var(--color-input-bg-light);
          color: var(--color-input-text-light);
          border: none;
        }
      }
    }

    input {
      height: 36px;
      background-color: var(--color-input-bg);
      color: var(--color-input-text);
      border: none;
      outline: none;
      font-size: 1rem;

      &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: var(--color-input-placeholder);
        opacity: 1; /* Firefox */
      }
  
      &:focus {
        background-color: var(--color-input-bg);
        box-shadow: none;
      }
  
      transition: all 0.7s ease;
    }
  
    .input-group-prepend {
      margin-right: 0;
    }

    .input-group-append {
      margin-left: 0;
    }

    .input-group-prepend, .input-group-append {
      .input-group-text {
        background-color: var(--color-input-bg);
        color: var(--color-input-text);
        border: none;
      }
    }
  
    &.focused {
      border: 1px solid var(--color-secondary-light);
  
      .input-group-prepend, .input-group-append {
        .input-group-text {
          color: var(--color-secondary-light);
        }
      }
    }

    transition: all 0.7s ease;
  }

  label {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--color-text);

    &.focused {
      color: var(--color-secondary-light);
    }
  }
}

.base-area {
  margin-bottom: 1rem;

  &.no-margin {
    margin-bottom: 0;
  }

  .form-group {
    margin-bottom: 0;
  }

  .input-wrapper {
    border-radius: 0.25rem;
    height: fit-content;
    overflow: hidden;
    border: 1px solid var(--color-input-bg);

    &.light-bg {
      border: 1px solid var(--color-input-bg-light);

      input {
        background-color: var(--color-input-bg-light);
        color: var(--color-input-text-light);

        &:focus {
          background-color: var(--color-input-bg-light);
        }
      }

      .input-group-prepend, .input-group-append {
        .input-group-text {
          background-color: var(--color-input-bg-light);
          color: var(--color-input-text-light);
          border: none;
        }
      }
    }

    textarea {
      background-color: var(--color-input-bg);
      color: var(--color-input-text);
      border: none;
      outline: none;
      font-size: 1rem;

      &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: var(--color-input-placeholder);
        opacity: 1; /* Firefox */
      }
  
      &:focus {
        background-color: var(--color-input-bg);
        box-shadow: none;
      }
  
      transition: all 0.7s ease;
    }
  
    .input-group-prepend {
      margin-right: 0;
    }

    .input-group-append {
      margin-left: 0;
    }

    .input-group-prepend, .input-group-append {
      .input-group-text {
        background-color: var(--color-input-bg);
        color: var(--color-input-text);
        border: none;
      }
    }
  
    &.focused {
      border: 1px solid var(--color-secondary-light);
  
      .input-group-prepend, .input-group-append {
        .input-group-text {
          color: var(--color-secondary-light);
        }
      }
    }

    transition: all 0.7s ease;
  }

  label {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--color-text);

    &.focused {
      color: var(--color-secondary-light);
    }
  }
}

.form-toggle {
  display: inline-block;
  position: relative;

  input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
    display: none;
  }
    
  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 26px;
    background: grey;
    display: block;
    border-radius: 50px;
    position: relative;
    margin-bottom: 0;
  }
    
  label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 5px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 20px;
    transition: 0.3s;
  }
    
  input:checked + label {
    background: var(--color-primary);
  }
    
  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }
    
  label:active:after {
    width: 50px;
  }
    
  // centering
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}
