#app {

  .modal-dialog {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    overflow: hidden;
    max-width: 100%!important;
    
    .modal-content {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      border: none;
      max-height: 90vh;
      overflow-y: auto;
      background-color: var(--color-layout);
    }

    .close {
      color: var(--color-text);
      z-index: 999;
    }
  }
  
  @media (min-width: 991px) {
    .modal-dialog {  
      max-width: 864px;  
    }
  
    .modal-dialog.modal-sm {
      max-width: 500px;
      margin: 1.75rem auto;
    }
  }
  

}
