.base-input {
  select {
    height: 36px;
    background-color: var(--color-input-bg);
    color: var(--color-input-text);
    border: none;
    outline: none;
    font-size: 1rem;
  
    &:focus {
      background-color: var(--color-input-bg);
      color: var(--color-input-text);
      box-shadow: none;
    }
  
    transition: all 0.3s ease;
  }
}