#bands {
  .title {
    font-size: 1.25rem;
    text-transform: uppercase;
  }

  .page-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.75rem;

    button {
      background: linear-gradient(var(--color-primary), var(--color-secondary));
      border: none;
      outline: none;
      border-radius: 8px;
      color: var(--color-text);
      padding: 0.25rem 1rem;
      font-size: 0.875rem;
      text-transform: uppercase;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.7s;

      &:hover {
        opacity: 0.75;
      }
    }
  }

  .list {
    margin-bottom: 2rem;
    list-style: none;

    .item {
      background-color: var(--color-background);
      width: 100%;
      margin-bottom: 1rem;
      padding: 1rem 1rem;
      border-radius: 8px;
      transition: all 0.7s;

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        cursor: pointer;
        background: var(--color-primary-dark);

        .info .title, .sub, .actions {
          color: var(--color-text)!important;
        }
      }

      display: flex;
      justify-content: space-between;
      align-items: center;

      .icon {
        flex: 0 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        .band-img {
          max-width: 50px;
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .title {
          font-weight: bold;
          color: var(--color-text);
          margin-bottom: 0;
          text-transform: uppercase;
          font-size: 0.875rem;
        }

        .sub {
          color: var(--color-secondary-light);
          transition: all 0.7s;
        }
      }

      .actions {
        flex: 0 0 auto;
      }
    }
  }

  .no-bands {
    .icon {
      max-width: 360px;
      width: 100%;
      margin: 1rem auto;
      opacity: 0.75;
    }
  }
}

#band {
  .title {
    font-size: 1.25rem;
    text-transform: uppercase;
  }
  
  .tabs-header {
    background-color: var(--color-background);
    border-radius: 8px;
    margin-bottom: 1rem;

    .band-wrapper {
      padding: 1rem;
      position: relative;

      .actions {
        position: absolute;
        top: 0.75rem;
        right: 0.5rem;
      }
    }

    .tabs {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;
      border-radius: 8px;

      .tab {
        width: 100%;
        padding: 0.75rem 0;
        text-align: center;
        position: relative;
        transition: all 0.7s;

        &:hover {
          color: var(--color-primary);
          cursor: pointer;
        }

        &.selected {
          // color: var(--color-primary);
          border-bottom: 3px solid var(--color-primary);
        }

        span {
          font-weight: bold;
          text-transform: uppercase;
          font-size: 0.75rem;
        }

        a {
          text-decoration: none;
          font-weight: bold;
          text-transform: uppercase;
          font-size: 0.75rem;
          color: var(--color-text);
          transition: all 0.7s;
        }

        a:hover {
          color: var(--color-primary);
          cursor: pointer;
        }

        &:first-child {
          padding-left: 1rem;
        }

        &:last-child {
          padding-right: 1rem;
        }
      }
    }
  }

  .account-checklist {
    list-style: none;
    max-height: 200px;
    overflow-y: auto;

    label {
      width: 100%;
    }

    .checkbox-group {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      max-width: 600px;
      user-select: none;
      & > * {
        margin: .5rem 0.5rem;
      }
    }
    
    .checkbox-group-legend {
      font-size: 1.5rem;
      font-weight: 700;
      color: #9c9c9c;
      text-align: center;
      line-height: 1.125;
      margin-bottom: 1.25rem;
    }
    
    .checkbox-input {
      // Code to hide the input
      clip: rect(0 0 0 0);
      clip-path: inset(100%);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    
      &:checked + .checkbox-tile {
        border-color: var(--color-primary);
        color: var(--color-primary);
        &:before {
          transform: scale(1);
          opacity: 1;
          background-color: var(--color-primary);
          border-color: var(--color-primary);
        }
      }
      
      &:focus + .checkbox-tile {
        border-color: var(--color-primary);
        &:before {
          transform: scale(1);
          opacity: 1;
        }
      }
    }
    
    .checkbox-tile {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      border-radius: 0.5rem;
      border: 1px solid rgba(0, 0, 0, 0.3);
      transition: 0.15s ease;
      cursor: pointer;
      position: relative;
      padding: 0.5rem 1rem;
      background-color: rgba(0, 0, 0, 0.1);
    
      &:before {
        content: "";
        position: absolute;
        display: block;
        width: 1.25rem;
        height: 1.25rem;
        border: 2px solid #b5bfd9;
        background-color: #fff;
        border-radius: 50%;
        top: 0.5rem;
        right: 0.5rem;
        opacity: 0;
        transform: scale(0);
        transition: 0.25s ease;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
        background-size: 12px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
      }
    
      &:hover {
        border-color: var(--color-primary);
        &:before {
          transform: scale(1);
          opacity: 1;
        }
      }
    }
    
    .checkbox-icon {
      transition: .375s ease;
      overflow: hidden;
      border-radius: 1.5rem;
      margin-right: 1rem;
      flex: 0 0 auto;

      img {
        width: 3rem;
        height: 3rem;
      }
    }
    
    .checkbox-label {
      flex-grow: 1;
      color: var(--color-text);
      transition: .375s ease;
      text-align: left;
      text-transform: capitalize;
    }
  }

  .band-members {
    .title {
      color: var(--color-secondary-light);
    }

    .members {
      list-style: none;
      margin-bottom: 1rem;

      .item {
        background-color: var(--color-background);
        padding: 1rem 0.5rem 1rem 1rem;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
        transition: all 0.7s;

        .icon {
          flex: 0 0 auto;
          width: 48px;
          height: 48px;
          border-radius: 96px;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 1rem;

          img {
            object-fit: cover;
            max-width: 100%;
          }
        }

        .info {
          flex-grow: 1;
        }

        .actions {
          flex: 0 0 auto;
        }

        span {
          color: var(--color-secondary-light);
        }

        &:hover {
          background-color: var(--color-primary);
          cursor: pointer;

          span {
            color: var(--color-text);
          }
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

#saveBand {
  .title {
    font-size: 1.25rem;
    text-transform: uppercase;
  }

  .info {
    background-color: var(--color-background);
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
  }
}
