#bands {
  .title {
    font-size: 1.25rem;
    text-transform: uppercase;
  }

  .page-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.75rem;

    button {
      background: linear-gradient(var(--color-primary), var(--color-secondary));
      border: none;
      outline: none;
      border-radius: 8px;
      color: var(--color-text);
      padding: 0.25rem 1rem;
      font-size: 0.875rem;
      text-transform: uppercase;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.7s;

      &:hover {
        opacity: 0.75;
      }
    }
  }

  .list {
    margin-bottom: 2rem;
    list-style: none;

    .item {
      background-color: var(--color-background);
      width: 100%;
      margin-bottom: 1rem;
      padding: 1rem 1rem;
      border-radius: 8px;
      transition: all 0.7s;

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        cursor: pointer;
        background: var(--color-primary-dark);

        .info .title, .sub, .actions {
          color: var(--color-text)!important;
        }
      }

      display: flex;
      justify-content: space-between;
      align-items: center;

      .icon {
        flex: 0 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        .band-img {
          max-width: 50px;
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .title {
          font-weight: bold;
          color: var(--color-text);
          margin-bottom: 0;
          text-transform: uppercase;
          font-size: 0.875rem;
        }

        .sub {
          color: var(--color-secondary-light);
          transition: all 0.7s;
        }
      }

      .actions {
        flex: 0 0 auto;
      }
    }
  }

  .no-bands {
    .icon {
      max-width: 360px;
      width: 100%;
      margin: 1rem auto;
      opacity: 0.75;
    }
  }
}

#band {
  .title {
    font-size: 1.25rem;
    text-transform: uppercase;
  }
  
  .tabs-header {
    background-color: var(--color-background);
    border-radius: 8px;
    margin-bottom: 1rem;

    .band-wrapper {
      padding: 1rem;
      position: relative;

      .actions {
        position: absolute;
        top: 0.75rem;
        right: 0.5rem;
      }
    }

    .tabs {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;
      border-radius: 8px;

      .tab {
        width: 100%;
        padding: 0.75rem 0;
        text-align: center;
        position: relative;
        transition: all 0.7s;

        &:hover {
          color: var(--color-primary);
          cursor: pointer;
        }

        &.selected {
          // color: var(--color-primary);
          border-bottom: 3px solid var(--color-primary);
        }

        span {
          font-weight: bold;
          text-transform: uppercase;
          font-size: 0.75rem;
        }

        &:first-child {
          padding-left: 1rem;
        }

        &:last-child {
          padding-right: 1rem;
        }
      }
    }
  }

  .band-members {
    padding: 1rem;

    .title {
      color: var(--color-primary-dark);
    }

    .members {
      list-style: none;
      margin-bottom: 1rem;

      .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;

        .icon {
          flex: 0 0 auto;
          width: 48px;
          height: 48px;
          border-radius: 96px;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 1rem;

          img {
            object-fit: cover;
            max-width: 100%;
          }
        }

        .info {
          flex-grow: 1;
        }

        .actions {
          flex: 0 0 auto;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

#saveBand {
  .title {
    font-size: 1.25rem;
    text-transform: uppercase;
  }
}
