#bands {
  .list {
    margin-bottom: 2rem;
    list-style: none;

    .item {
      width: 100%;
      margin-bottom: 1rem;
      padding: 1rem 0.5rem;
      border-radius: 8px;

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        background: var(--color-primary-dark);

        .info .title, .sub, .actions {
          color: #ffffff;
        }
      }

      display: flex;
      justify-content: space-between;
      align-items: center;

      .icon {
        flex: 0 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        .band-img {
          max-width: 50px;
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .title {
          font-weight: bold;
          color: var(--color-text);
          margin-bottom: 0;
          text-transform: uppercase;
        }
      }

      .actions {
        flex: 0 0 auto;
      }
    }
  }

  .no-bands {
    .icon {
      max-width: 360px;
      width: 100%;
      margin: 1rem auto;
    }
  }
}

#band {
  .title {
    font-size: 1.25rem;
    text-transform: uppercase;
  }

  .band-actions {
    padding: 1rem 1rem;
    margin-top: 1rem;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .action {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .icon-bg {
        background-color: #f2f2f2;
        padding: 1rem;
        width: 48px;
        height: 48px;
        border-radius: 96px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #292d32;
        margin-bottom: 4px;
      }

      p small {
        font-weight: bold;
      }

      &:hover {
        cursor: pointer;
        
        .icon-bg, p {
          color: var(--color-primary-dark)!important;
        }
      }
    }
  }

  .band-activities {
    .activities {
      list-style: none;
      display: flex;
      overflow-x: auto;
      margin-bottom: 0;

      .item {
        min-width: 100px;
        margin-right: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;        

        .icon {
          width: 100px;
          background-color: var(--color-primary-dark);
          color: var(--color-text-dark);
          border-radius: 8px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 1rem;
          margin-bottom: 0.5rem;
        }

        p {
          font-weight: bold;
        }

        &:hover {
          .icon {
            background-color: #f2f2f2;
            color: var(--color-primary-dark);
          }
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .band-members {
    padding: 1rem;

    .title {
      color: var(--color-primary-dark);
    }

    .members {
      list-style: none;
      margin-bottom: 1rem;

      .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;

        .icon {
          flex: 0 0 auto;
          width: 48px;
          height: 48px;
          border-radius: 96px;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 1rem;

          img {
            object-fit: cover;
            max-width: 100%;
          }
        }

        .info {
          flex-grow: 1;
        }

        .actions {
          flex: 0 0 auto;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

#saveBand {
  .title {
    font-size: 1.25rem;
    text-transform: uppercase;
  }
}
