#categories {

  .title {
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: bold;
  }

  .categories {
    list-style: none;

    .category {
      margin-bottom: 1rem;
      border-radius: 8px;

      &:hover {
        cursor: pointer;

        .category-info, .actions {
          color: var(--color-primary);
        }
      }

      display: flex;
      justify-content: space-between;
      align-items: center;

      .category-info {
        flex-grow: 1;
      }

      .category-actions {
        flex: 0 0 auto;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

  }

  .no-categories {
    .icon {
      max-width: 360px;
      width: 100%;
      margin: 1rem auto;
    }
  }
}
