#profile {
  .avatar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;

    .icon {
      max-width: 164px;
  
      img {
        max-width: 100%;
        object-fit: cover;
      }
    }
  }
}
