#public-songs {
  .title {
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: bold;
  }

  .search-btn {
    margin-top: 1.875rem;
  }

  .filter-section {
    background-color: var(--color-background);
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
  }

  .songs {
    list-style: none;
    padding: 0.5rem;
    background-color: var(--color-background);
    border-radius: 8px;

   .song {
      transition: all 0.7s;

      .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--color-text);
        padding: 0.5rem;

        .song-info span {
          color: var(--color-secondary-light);
          font-weight: 600;
        }

        .song-info span, .song-info p {
          transition: all 0.7s;
        }

        .icon {
          flex: 0 0 auto;
          display: flex;
          justify-content: center;
          align-items: center;

          .song-img {
            max-width: 50px;
          }
        }

        .song-info {
          flex-grow: 1;
        }
      }

      &:hover {
        background-color: var(--color-primary);
        cursor: pointer;
        border-radius: 8px;

        .song-info span, .song-info p {
          color: var(--color-text);
        }
      }
    }

  }

  .no-songs {
    .icon {
      max-width: 360px;
      width: 100%;
      margin: 1rem auto;
    }
  }
}