#show {
  .title {
    font-size: 1.25rem;
    text-transform: uppercase;
  }

  .show-actions {
    padding: 1rem 1rem;
    margin-top: 1rem;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .action {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .icon-bg {
        background-color: #f2f2f2;
        padding: 1rem;
        width: 48px;
        height: 48px;
        border-radius: 96px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #292d32;
        margin-bottom: 4px;
      }

      p small {
        font-weight: bold;
      }

      &:hover {
        cursor: pointer;
        
        .icon-bg {
          color: var(--color-primary-dark)!important;
        }
      }
    }
  }

  .songs {
    list-style: none;

    .song {
      margin-bottom: 1rem;
      border-radius: 8px;
      padding: 0.5rem;

      &:not(.reorder):hover {
        background-color: #b7c1bc;
        cursor: pointer;
      }

      display: flex;
      justify-content: space-between;
      align-items: center;

      .icon {
        flex: 0 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        .song-img {
          max-width: 50px;
        }
      }

      .song-info {
        flex-grow: 1;
      }

      .actions {
        flex: 0 0 auto;

        .order {
          color: var(--color-primary);

          &:hover {
            cursor: pointer;
            color: #292d32;
          }
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

  }

  .about {
    .actions {
      display: flex;
      justify-content: space-around;
      align-items: center;
  
      .action {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  
        i {
          margin-bottom: 4px;
        }
  
        p small {
          font-weight: bold;
        }
  
        &:hover {
          cursor: pointer;
          
          i {
            color: #ffffff!important;
          }
        }
      }
    }
  }

  .no-songs {
    .icon {
      max-width: 360px;
      width: 100%;
      margin: 1rem auto;
    }
  }
}

#shows {
  .title {
    font-size: 1.25rem;
    text-transform: uppercase;
  }

  .info {
    padding: 1rem 1.5rem;
    background-color: rgba(0, 0 ,0, 0.2);
    border: 1px solid var(--color-text);
    border-radius: 8px;
    margin-bottom: 1rem;
  }

  .list {
    list-style: none;

    .item {
      margin-bottom: 1rem;
      border-radius: 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:hover {
        opacity: 0.5;
      }

      .icon {
        flex: 0 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        .show-img {
          max-width: 50px;
        }
      }

      .show-info {
        flex-grow: 1;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

  }

  .no-shows {
    .icon {
      max-width: 360px;
      width: 100%;
      margin: 1rem auto;
    }
  }
}

#saveShow {
  .title {
    font-size: 1.25rem;
    text-transform: uppercase;
  }
}
