#show {
  .title {
    font-size: 1.25rem;
    text-transform: uppercase;
  }

  .info {
    background-color: var(--color-background);
    padding: 1rem;
    border-radius: 8px;
    position: relative;
    margin-bottom: 1rem;

    .actions {
      position: absolute;
      top: 0.75rem;
      right: 0.5rem;
    }
  }

  .songs {
    list-style: none;

    .song {
      background-color: var(--color-background);
      margin-bottom: 1rem;
      border-radius: 8px;
      padding: 0.5rem 0.5rem 0.5rem 1rem;
      position: relative;
      transition: all 0.7s;

      .public-icon {
        position: absolute;
        top: -8px;
        right: 0;
        width: 64px;
        height: 24px;
        border-radius: 8px;
        background-color: var(--color-primary-light);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.7s;

        span {
          font-size: 0.75rem;
          font-weight: bold;
          color: var(--color-text);
        }
      }

      &:not(.reorder):hover {
        background-color: var(--color-primary);
        cursor: pointer;

        .public-icon {
          background-color: var(--color-secondary);
        }
      }

      display: flex;
      justify-content: space-between;
      align-items: center;

      .icon {
        flex: 0 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        .song-img {
          max-width: 50px;
        }
      }

      .song-info {
        flex-grow: 1;
      }

      .actions {
        flex: 0 0 auto;

        .order {
          color: var(--color-primary);

          &:hover {
            cursor: pointer;
            color: #292d32;
          }
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

  }

  .about {
    .actions {
      display: flex;
      justify-content: space-around;
      align-items: center;
  
      .action {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  
        i {
          margin-bottom: 4px;
        }
  
        p small {
          font-weight: bold;
        }
  
        &:hover {
          cursor: pointer;
          
          i {
            color: #ffffff!important;
          }
        }
      }
    }
  }

  .no-songs {
    .icon {
      max-width: 360px;
      width: 100%;
      margin: 1rem auto;
      opacity: 0.75;
    }
  }
}

#shows {
  .title {
    font-size: 1.25rem;
    text-transform: uppercase;
  }

  .show-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;

    .title {
      margin-bottom: 0;
    }

    button {
      background: linear-gradient(var(--color-primary), var(--color-secondary));
      border: none;
      outline: none;
      border-radius: 8px;
      color: var(--color-text);
      padding: 0.25rem 1rem;
      font-size: 0.75rem;
      text-transform: uppercase;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.7s;

      &:hover {
        opacity: 0.75;
      }
    }
  }

  .list {
    list-style: none;

    .item {
      position: relative;
      background-color: var(--color-background);
      padding: 0.75rem 1rem;
      margin-bottom: 1.25rem;
      border-radius: 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:hover {
        cursor: pointer;
        background-color: var(--color-primary);

        .show-info p strong {
          color: var(--color-text)!important;
        }

        .show-date {
          background-color: var(--color-text);
          color: var(--color-secondary-light);
        }
      }

      .icon {
        flex: 0 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        .show-img {
          max-width: 48px;
          object-fit: cover;
        }
      }

      .show-info {
        flex-grow: 1;
      }

      .show-date {
        background-color: var(--color-secondary);
        border-radius: 8px;
        padding: 0 0.5rem;
        font-size: 0.875rem;
        font-weight: bold;
        position: absolute;
        top: -0.75rem;
        right: 1rem;
        transition: all 0.7s;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

  }

  .no-shows {
    .icon {
      max-width: 360px;
      width: 100%;
      margin: 1rem auto;
      opacity: 0.75;
    }
  }
}

#saveShow {
  .title {
    font-size: 1.25rem;
    text-transform: uppercase;
  }

  .info {
    background-color: var(--color-background);
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
  }
}
