#show {
  .title {
    font-size: 1.25rem;
    text-transform: uppercase;
  }

  .info {
    padding: 1rem 1.5rem;
    background-color: rgba(255, 255 ,255, 0.2);
    border: 1px solid var(--color-text);
    border-radius: 8px;
  }

  .songs {
    list-style: none;

    .song {
      margin-bottom: 1rem;
      border-radius: 8px;

      &:hover {
        background: var(--color-primary);

        .info .title, .sub, .actions {
          color: #ffffff;
        }
      }

      display: flex;
      justify-content: space-between;
      align-items: center;

      .icon {
        flex: 0 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        .song-img {
          max-width: 50px;
        }
      }

      .song-info {
        flex-grow: 1;
      }

      .actions {
        flex: 0 0 auto;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

  }

  .about {
    .actions {
      display: flex;
      justify-content: space-around;
      align-items: center;
  
      .action {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  
        i {
          margin-bottom: 4px;
        }
  
        p small {
          font-weight: bold;
        }
  
        &:hover {
          cursor: pointer;
          
          i {
            color: #ffffff!important;
          }
        }
      }
    }
  }
}

#saveShow {
  .info {
    padding: 1rem 1.5rem;
    background-color: rgba(255, 255 ,255, 0.2);
    border: 1px solid var(--color-text);
    border-radius: 8px;
    margin-bottom: 1rem;
  }
}
