#sign-in {
  .app-logo {
    width: 250px;

    img {
      max-width: 100%;
      object-fit: cover;
    }
  }

  .form-control-label {
    color: var(--color-text-dark);
  }

  p, span, a {
    color: var(--color-text-dark);
  }

  .input-group-text {
    color: var(--color-gray);
  }
}

#sign-up {
  .app-logo {
    width: 250px;

    img {
      max-width: 100%;
      object-fit: cover;
    }
  }

  .form-control-label {
    color: var(--color-text-dark);
  }

  p, span, a {
    color: var(--color-text-dark);
  }

  .input-group-text {
    color: var(--color-gray);
  }
}
