#sign-in {
  min-height: 100%;
  position: relative;
  padding-top: 160px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  .container {
    max-width: 768px;
  }

  .auth-wrapper {
    background-color: #33333370;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    position: relative;

    .logo {
      position: absolute;
      top: -144px;
      left: 0;
      right: 0;
      margin: 0 auto;

      width: 128px;
      height: 128px;
    }
  }

  .title {
    font-size: 2rem;
  }

  .form-control-label {
    color: var(--color-text-dark);
  }

  .input-group-text {
    color: var(--color-gray);
  }
}

#sign-up {
  min-height: 100%;
  position: relative;
  padding-top: 160px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  .base-input {
    margin-bottom: 0.5rem;
  }

  .container {
    max-width: 768px;
  }

  .auth-wrapper {
    background-color: #33333370;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    position: relative;

    .logo {
      position: absolute;
      top: -144px;
      left: 0;
      right: 0;
      margin: 0 auto;

      width: 128px;
      height: 128px;
    }
  }
 
  .title {
    font-size: 2rem;
  }

  .form-control-label {
    color: var(--color-text-dark);
  }

  .input-group-text {
    color: var(--color-gray);
  }
}
