#song {
  height: 100%;

  .title {
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: bold;
  }

  .song-actions {
    padding: 1rem 1rem;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .action {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &.disabled {
        .icon-bg {
          background-color: #ababab;
        }
  
        &:hover {
          cursor: not-allowed;
        }
      }

      .icon-bg {
        background-color: #f2f2f2;
        padding: 1rem;
        width: 48px;
        height: 48px;
        border-radius: 96px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #292d32;
        margin-bottom: 4px;
      }

      p small {
        font-weight: bold;
      }

      &:hover {
        cursor: pointer;
        
        .icon-bg {
          color: var(--color-primary-dark)!important;
        }
      }
    }
  }

  .info {
    padding: 0;
  }

  .shows {
    list-style: none;
    margin-bottom: 1rem;

    .show {
      padding: 0.75rem 0;
      border-bottom: 1px solid #ababab;

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        cursor: pointer;
        background-color: var(--color-primary);
        color: #ffffff;
      }
    }
  }

  pre#lyrics {
    color: var(--color-text)!important;
  }
}

#directory {

  .title {
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: bold;
  }

  .info {
    min-height: 100%;
  }

  .categories {
    list-style: none;

    .content {
      padding: 1rem 0rem;

      p {
        margin-bottom: 0;
      }
    }

    .category {
      margin-bottom: 1rem;
      border-radius: 8px;

      .content {
        position: relative;
        padding: 1rem 0.5rem 1rem 0.5rem;
        color: var(--color-text-dark);
        border-radius: 8px;
      }

      .name {
        font-size: 1.125rem;
        padding-right: 96px;
      }

      .description {
        font-size: 1rem;
      }

      .counter {
        position: absolute;
        right: 8px;
        top: 0.75rem;
        border-radius: 8px;
        color: var(--color-text);
        background: var(--color-secondary);
        padding: 5px 8px;
        font-weight: bold;
        font-size: 0.75rem;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .songs {
    list-style: none;
    padding: 0.5rem;
    background-color: #333333;
    border-radius: 8px;

   .song {

      .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--color-text);
        padding: 0.5rem;

        .song-info span, .song-info p {
          transition: all 0.7s;
        }

        .icon {
          flex: 0 0 auto;
          display: flex;
          justify-content: center;
          align-items: center;

          .song-img {
            max-width: 50px;
          }
        }

        .song-info {
          flex-grow: 1;
        }
      }

      &:hover {
        .song-info span, .song-info p {
          color: var(--color-secondary-light);
        }
        cursor: pointer;
      }
    }

  }

  .no-directory {
    .icon {
      max-width: 360px;
      width: 100%;
      margin: 1rem auto;
    }
  }
}

#saveSong {
  .title {
    font-size: 1.25rem;
    text-transform: uppercase;
  }

  .custom-label {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--color-text-dark);
    margin-bottom: 0.5rem;
  }

  #songEditor {
    color: var(--color-gray);
  }

  .import-btn {
    outline: none;
    border: none;
    background-color: var(--color-primary);
    color: var(--color-text-dark);
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 8px;
    margin-top: 1.35rem;

    &:hover {
      cursor: pointer;
    }

    &:disabled {
      opacity: 0.75;
      cursor: not-allowed;
    }
  }
}
