/* Splashscreen background */
.splash {
  position: fixed;
  background: #0f2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0f2027, #203a43, #2c5364);
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  margin: -50vh 0 0 -50vw;
  transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  z-index: 99999;
}

/* Splashscreen logo */
.splash .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform: translate3d(-75%, 0px, 0px);
  -webkit-transform: translate3d(-75%, 0px, 0px);
}

/* Splashscreen start logo */
.splash.start .logo {
  transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  transition: all 0.7s ease;
}

/* Splashscreen hide */
.splash.hide {
  transition: all 0.9s ease;
}

/* Splashscreen hide logo */
.splash.hide .logo {
  transform: translate3d(75%, 0px, 0px);
  -webkit-transform: translate3d(75%, 0px, 0px);
  transition: all 0.9s ease;
}

/* Ending effect */
.splash.close {
  opacity: 0;
  transition: all 0.5s ease;
}