<div id="sign-up">
  <div class="container">
    <div class="row pt-3">
      <div class="col-12 d-flex justify-content-center align-items-center">
        <div class="app-logo">
          <img src="/img/logo.svg" alt="Playliter logo" />
        </div>
      </div>
      <div class="col-12 text-center">
        <h4 class="mb-3 text-uppercase text-white">Criar nova conta</h4>
      </div>
    </div>
    <form @submit.prevent="register">
      <div class="row">
        <div class="col-12">
          <base-input
            type="text"
            label="Nome Completo"
            placeholder="Digite seu nome"
            addonLeftIcon="fas fa-user"
            v-model="v$.form.name.$model"
            :valid="!v$.form.name.$error"
            :error="v$.form.name.$errors.length ? $translations.translateMessage(v$.form.name.$errors[0].$message) : ''"
            :disabled="authLoading || accountLoading"
          />
        </div>
        <div class="col-12">
          <base-input
            type="text"
            label="Nome do usuário"
            placeholder="Escolhe um nome de usuário"
            addonLeftIcon="fas fa-user"
            v-model="v$.form.username.$model"
            :valid="!v$.form.username.$error"
            :error="v$.form.username.$errors.length ? $translations.translateMessage(v$.form.username.$errors[0].$message) : ''"
            :disabled="authLoading || accountLoading"
          />
        </div>
        <div class="col-12">
          <base-input
            type="password"
            label="Senha"
            placeholder="Agora digite seu senha"
            addonLeftIcon="fas fa-key"
            v-model="v$.form.password.$model"
            :valid="!v$.form.password.$error"
            :error="v$.form.password.$errors.length ? $translations.translateMessage(v$.form.password.$errors[0].$message) : ''"
            :disabled="authLoading || accountLoading"
          />
        </div>
        <div class="col-12">
          <base-input
            type="password"
            label="Confirmar senha"
            placeholder="Agora confirme sua senha"
            addonLeftIcon="fas fa-key"
            v-model="v$.form.confirmPassword.$model"
            :valid="!v$.form.confirmPassword.$error"
            :error="v$.form.confirmPassword.$errors.length ? $translations.translateMessage(v$.form.confirmPassword.$errors[0].$message) : ''"
            :disabled="authLoading || accountLoading"
          />
        </div>
        <div class="col-12">
          <base-button
            class="mb-3"
            nativeType="submit"
            type="primary"
            :disabled="v$.$error === true || authLoading || accountLoading"
          >
            Criar conta
          </base-button>
        </div>
        <div class="col-12">
          <div class="d-flex justify-content-center align-items-center mb-3">
            <span>Já possúi conta?</span>&nbsp;
            <router-link to="signin" class="auth-action">
              Autenticar!
            </router-link>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>