<div id="playlist">

  <!-- Song switcher -->
  <div class="container no-print">
    <div class="row pt-3">
      <div class="col-12">
        <div class="info">
          <p v-if="!showLoading" class="title mb-0">
            {{ displaySong.title }}
          </p>
          <lines v-else class="shine"></lines>
          <span v-if="!showLoading">{{ displaySong.writter }}</span>
          <lines v-else class="shine"></lines>
          <hr v-if="!showLoading" />
          <div v-if="!showLoading" class="actions">
            <div class="action" @click="switchSong(-1)">
              <i class="fas fa-angle-double-left text-info"></i>
              <p class="mb-0">
                <small>Anterior</small>
              </p>
            </div>
            <div class="action" @click="downloadReport()">
              <i class="fas fa-print text-white"></i>
              <p class="mb-0">
                <small>Exportar PDF</small>
              </p>
            </div>
            <div class="action" @click="switchSong(1)">
              <i class="fas fa-angle-double-right text-info"></i>
              <p class="mb-0">
                <small>Próxima</small>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 mt-3 mb-3">
        <div class="info">
          <pre
            id="lyrics"
            class="tranposer"
            :data-key="displaySong.tone"
            v-if="!showLoading"
          >
            {{ displaySong.body }}
          </pre>
          <div v-else>
            <lines class="shine"></lines>
            <lines class="shine"></lines>
            <lines class="shine"></lines>
            <lines class="shine"></lines>
            <lines class="shine"></lines>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Print list -->
  <div v-if="!showLoading" class="songs d-none report-print">
    <!-- TODO: Generate a playliter presentation on the first page -->
    <!-- <div class="pagebreak"></div> -->

    <!-- Songs -->
    <div class="song" v-for="(song, i) in show.songs" :key="i">
      <p class="title mb-0">{{ song.title }}</p>
      <span>{{ song.writter }}</span>
      <br>
      <span>
        <small>
          Tom: <strong>{{song.tone}}</strong>
        </small>
      </span>
      <br>
      <pre class="tranposer pdf-song" :data-key="song.tone" v-if="!showLoading">
        {{ song.body }}
      </pre>
      <div class="pagebreak"></div>
    </div>
    
  </div>

</div>