.primary-section {
  background-color: var(--color-primary);
  color: var(--color-text-dark);
}

.secondary-section {
  background-color: var(--color-primary-light);
  color: var(--color-text-dark);

  .form-control-label {
    color: var(--color-text-dark);
  }
}

.auth-link a {
  color: var(--color-text);

  &:hover {
    text-decoration: underline;
  }
}

.auth-action {
  color: var(--color-text);
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}

hr {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.rakta-watermark {
  position: fixed;
  left: 32px;
  bottom: 32px;
  z-index: 9999;
  max-width: 500px;
  border-radius: 12px;
  overflow: hidden;
  user-select: none;
  display: none;
}
