.auth-link a {
  color: var(--color-secondary-light);
  font-weight: bold;

  &:hover {
    text-decoration: underline;
    color: var(--color-secondary-light);
  }
}

.auth-action {
  font-weight: bold;
  transition: all 0.7s;

  &:hover {
    text-decoration: underline;
    color: var(--color-secondary-light);
  }
}

.btn-container_foreground {
  z-index: initial!important;
}

hr {
  border-top: 1px solid #333333;
}

.rakta-watermark {
  position: fixed;
  left: 32px;
  bottom: 32px;
  z-index: 9999;
  max-width: 500px;
  border-radius: 12px;
  overflow: hidden;
  user-select: none;
  display: none;
}
