.auth-link a {
  color: var(--color-text);

  &:hover {
    text-decoration: underline;
  }
}

.auth-action {
  color: var(--color-text);
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}

hr {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.rakta-watermark {
  position: fixed;
  left: 32px;
  bottom: 32px;
  z-index: 9999;
  max-width: 500px;
  border-radius: 12px;
  overflow: hidden;
  user-select: none;
  display: none;
}

.ProseMirror {
  background-color: #F2F3F7;
  white-space: pre-wrap!important;
  outline: none;
  padding: 1rem;
  border-radius: 8px;

  &:focus {
    border: 3px solid #000000;
  }
}
