@media print  {
  #header, #bottomNav, .transpose-keys {
    display: none!important;
  }
  
  #dashboard-layout {
    background: #ffffff!important;
  }
  
  .info {
    border: none!important;
    background-color: #ffffff!important;
  }

  @page:first {
    margin: 0!important;
  }

  .song-section {
    padding: 3rem;
  }

  .pagebreak { 
    page-break-after: always;
  }

  #dashboard-layout {
    display: block!important;
    overflow-y: scroll!important;
    height: 100%!important;
    overflow: visible!important;
  }

  #dashboard-layout main {
    overflow: initial!important;
    overflow-y: scroll!important;
    height: 100%!important;
    overflow: visible!important;
  }

  #app {
    overflow-x: hidden!important;
    overflow-y: scroll!important;
    height: 100%!important;
    overflow: visible!important;
  }

  body {
    overflow: visible!important;
    background-color: #ffffff!important;
  }

  #pdf-preview {
    background-color: var(--color-layout);
    background-image: url('../public/img/pdf-prev.svg');
    background-size: 100%;
    overflow: hidden;
    page-break-after: always;

    .svg-container {
      position: relative;
      height: 100%;
      width: 100%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        object-fit: contain;
        height: 100%;
        width: 100%;

        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 1;
      }
    }

    // Fix css print height problem
    width: 100%;
    height:100%;
    position:absolute;
    top:0px;
    bottom:0px;
    margin: auto;
    margin-top: 0px !important;
    border: 1px solid;
    z-index: 99;
    // Remove if you wish to use default height

    div.info {
      position: absolute;
      left: 0;
      right: 0;
      z-index: 2;
      margin: 0 auto;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem 1.5rem;
      background-color: rgba(0, 0, 0, 0.2)!important;
      border-radius: 8px;
      width: 600px;
    }

    h3.title {
      font-size: 3rem;
      font-weight: bold;
      color: var(--color-text);
      text-align: center;
    }

    p.description {
      font-size: 1.25rem;
      color: var(--color-text);
      margin-bottom: 1rem;
      text-align: center;
    }
  }

  html, body, #app {
    // Lyrics print definitions
    color: var(--color-text-dark)!important;
    font-size: 22px;
    
    // Reset page margins
    position: relative;
    margin:0;
    padding:0;

    // Print graphics
    -webkit-print-color-adjust: exact;
    -moz-print-color-adjust: exact;
    -ms-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}

.no-print {
  @media print {
    display: none!important;
  }
}

.report-print {
  @media print {
    display: block!important;
  }
}
