@media print  {
  #header, #bottomNav, .transpose-keys {
    display: none!important;
  }
  
  #dashboard-layout {
    background: #ffffff!important;
  }
  
  .info {
    border: none!important;
    background-color: #ffffff!important;
  }

  @page:first {
    margin: 0!important;
  }

  .song-section {
    padding: 3rem;
  }

  .pagebreak { 
    page-break-after: always;
  }

  #dashboard-layout {
    display: block!important;
    overflow-y: scroll!important;
    height: 100%!important;
    overflow: visible!important;
  }

  #dashboard-layout main {
    overflow: initial!important;
    overflow-y: scroll!important;
    height: 100%!important;
    overflow: visible!important;
  }

  #app {
    overflow-x: hidden!important;
    overflow-y: scroll!important;
    height: 100%!important;
    overflow: visible!important;
  }

  body {
    overflow: visible!important;
    background-color: #ffffff!important;
  }

  #pdf-preview {
    background-color: #1c1c1c;
    background-image: url('../public/img/pdf-prev.svg');
    background-size: 100%;
    width: 100%;
    height: calc(100vh + 1.30rem);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    page-break-after: always;

    div.info {
      padding: 1rem 1.5rem;
      background-color: rgba(0, 0, 0, 0.2)!important;
      border-radius: 8px;
      width: 600px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    h3.title {
      font-size: 3rem;
      font-weight: bold;
      color: var(--color-text);
      text-align: center;
    }

    p.description {
      font-size: 1.25rem;
      color: var(--color-text);
      margin-bottom: 1rem;
    }
  }

  html, body, #app {
    color: var(--color-text-dark)!important;
  }
}

.no-print {
  @media print {
    display: none!important;
  }
}

.report-print {
  @media print {
    display: block!important;
  }
}
